<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>

    <title>{% block title %}Accounts{% endblock %}</title>

    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{% static 'mainapp/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'mainapp/css/noscript.css' %}" /></noscript>

</head>

    <!-- *****  Header Navigation Bar  ***** -->



    {% block body %}

    {% endblock %}

    <!-- *****  footer area ***** -->
			<section id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; RewardPay 2021</li><li>All Rights <a href="#">Reserved.</a></li>
				</ul>
			</section>

		<!-- Scripts -->
			<script src="{% static 'mainapp/js/jquery.min.js' %}"></script>
			<script src="{% static 'mainapp/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'mainapp/js/browser.min.js' %}"></script>
			<script src="{% static 'mainapp/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'mainapp/js/util.js' %}"></script>
			<script src="{% static 'mainapp/js/main.js' %}"></script>

</html>
