{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}Search transactions{% endblock %}
{% block body %}
 <div class="main">
  <div class="page-title">
  <h1 class="logo">Search transactions</h1>
    <div class="search-form" style="color: #FFFFFF;display: flex;align-items: center;justify-content: center">
  <form action="/search/" method="post">
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    <input type="submit" value="Submit">
  </form>
  <br>
  {% for transaction in transactions %}
    {{ transaction }}
    <br><br>
  {% endfor %}
    </div>
  </div>
 </div>
{% endblock %}
