.u-section-1 .u-sheet-1 {
  min-height: 656px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 377px;
  width: 377px;
  background-image: url("images/pexels-photo-9637308.jpeg");
  background-position: 50% 50%;
  margin: 0 -124px 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px 30px 182px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 270px 0 0;
}

.u-section-1 .u-text-2 {
  margin-top: 20px;
  font-size: 1.25rem;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-1 {
    height: 351px;
    width: 351px;
    margin-right: -139px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 130px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 603px;
  }

  .u-section-1 .u-image-1 {
    height: 280px;
    width: 280px;
    margin-right: -123px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 603px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 30px;
    padding-left: 122px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 933px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: -95px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-1 .u-image-1 {
    height: 353px;
    width: 353px;
    margin-top: 15px;
    margin-right: auto;
    margin-bottom: -50px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 294px;
  }

  .u-section-1 .u-image-1 {
    height: 254px;
    width: 254px;
    margin-top: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}